<h1>Seus Cartões de Crédito</h1>

Para que suas transações financeiras sejam realizadas, cadastre seu cartão de credito.<br><br>


<br>
Lista de Cartões Cadastrados:


<table class="table">
  <tr>
    <th>Bandeira</th>
    <th>Número do Cartão</th>
  </tr>

<% @credit_cards.each do |credit_card| %>
  <tr>
    <td><%= credit_card.flag %></td>
    <td><%= credit_card.number %></td>
    <td><%= button_to 'Remover Cartão', credit_card, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar Cartão de Crédito', new_credit_card_path %>

