<h1>Seus Cartões de Crédito</h1>

Para que suas transações financeiras sejam realizadas, cadastre seu cartão de credito.<br><br>

Bandeiras:<br>
1 - Amercan Express<br>
2 - Visa<br>
3 - Dinners<br>
4 - MasterCard<br>
<br>
Lista de Cartões Cadastrados:


<table class="table">
  <tr>
    <th>Bandeira</th>
    <th>Número do Cartão</th>
  </tr>

<% @credit_cards.each do |credit_card| %>
  <tr>
    <td><%= credit_card.flag %></td>
    <td><%= credit_card.number %></td>
    <td><%= link_to 'Destroy', credit_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar Cartão de Crédito', new_credit_card_path %>

