<section>
	<p class="ad">
		Quer divulgar suas notícias e não consegue? Adquira já uma conta Investidor ou Startup!
	</p>
	<div class="ad">
	<%= button_to "Atualize já!", upgrades_path,:class => "btn btn-warning btn-large"%>
	</div>
	<p class="ad"><br /><br /></p>
</section>
