<div class="widget-content">
<h1 class="page-title">Editar perfil</h1>

<% if current_user.group == Group.find(3) %>
	<%= render 'form_investor' %>
<% elsif current_user.group == Group.find(2) %>
	<%= render 'form_startup' %>
<% else %>
	<%= render 'form' %>
<% end %>

<%= link_to 'Voltar', :back %>
</div>
