<div class="widget-content">
  <h1 class="page-title">
    Configurações
  </h1>
  <div class="tabbable">
    <ul class="nav nav-tabs nav-justified" data-tabs="tabs">
      <li class="active"><a data-toggle="tab" href="#account">Configurações da Conta</a><li>
      <li><a data-toggle="tab" href="#email">Configurações de Email</a><li>
    </ul> <!-- nav-tabs -->

    <div class="tab-content">
      <div class="tab-pane active" id="account">
        <%= render 'users/account' %>
      </div> <!-- tab-pane account -->

      <div class="tab-pane" id="email">
        <%= render 'users/email' %>
      </div> <!-- tab-pane email-->

    </div> <!-- tab-content -->
  </div> <!-- tabbable -->
</div> <!-- widget-content -->
