<div class="widget-content">
	<% if @user.group.eql? Group.find(3) %>
		<%= render 'users/investor' %>
	<% else %>
		<%= render 'users/user' %>
	<% end %>

  <div class="posts">
    <h3>Postagens</h3>
    <%= render "posts/posts" %>
  </div> <!-- posts -->
</div> <!-- widget-content>
