<% @posts.each do |p| %>
<section class="post" id="update">
  <header class="post" id="usuario">
    <div id="left" style="float:left"><%= link_to p.user.name, user_path(p.user.id) %></div>
    <div id="right" style="text-align: right"><%= p.created_at %></div>
  </header>
  <h4 id="titulo"><%= p.title %></h4>
  <p class="post" id="conteudo"><%= p.content %></p>
  <footer>
    <hr />
  </footer>
</section>
<% end %>
