<div class="widget status">
  <div class="widget-content">
    <%= render :template => "posts/new" %>
  </div>
  <br />
  <div class="widget-content posts">
    <%= render "posts/posts" %>
  </div>
    <%= paginate @posts %>
</div>
</div>
