<div class="widget-content">
  <% unless current_user.group.eql? Group.find(1) %>
	  <%= render :template => "posts/new" %>
	<% else %>
		<%= render 'users/ad' %>
	<% end %>
	<hr />
  <%= render "posts/posts" %>
  <%= paginate @posts %>
</div>
