/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= requre normalize
 */

body {
  padding-top: 60px;
}

.messages {
  height: 50px;
  text-align: center;
}

.status_session {
  margin-left: auto;
  margin-right: auto;
}

.status_session {
    width: 515px;
}

.status #titulo {
  width: 500px;
}

.status #conteudo {
  width: 500px;
  height: 50px;
}

.actions {
  text-align: right;
}

#btn_publicar {
  margin: 0px;
}


// Posts

.post #usuario {
  text-align: left;
  font-weight: bold;
}

#update {
  background: #ffffff;
  margin-bottom: 10px;
  padding: 2px 2px 2px 2px;
}

.update {
  border: 1px solid #babaca;
}

#post:nth-of-type(odd) {
  background: #eeeeee;
 }

.post #titulo {
 }

.post #conteudo {
  }
