// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {
  .session {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .field {
    width: 100%;
  }

  #titulo {
    width: 100%;
  }

  #conteudo {
    width: 100%;
    height: 50px;
  }

  .actions {
    text-align: right;
  }

  .btn {
    #publicar {
      margin: 0px;
    }
  }

}
// Posts

.post #usuario {
  text-align: left;
  font-weight: bold;
}

#update {
  background: #ffffff;
  margin-bottom: 10px;
  padding: 2px 2px 2px 2px;
}

.update {
  border: 1px solid #babaca;
}

#post:nth-of-type(odd) {
  background: #eeeeee;
 }

.post #titulo {
 }

.post #conteudo {
  }

// Form /!\ EDITAR /!\

.messages {
  height: 50px;
  text-align: center;
}

.status_session {
  margin-left: auto;
  margin-right: auto;
}

.status_session {
    width: 515px;
}

.status #titulo {
  width: 500px;
}

.status #conteudo {
  width: 500px;
  height: 50px;
}

.actions {
  text-align: right;
}

#btn_publicar {
  margin: 0px;
}


// Posts

.post #usuario {
  text-align: left;
  font-weight: bold;
}

#update {
  background: #ffffff;
  margin-bottom: 10px;
  padding: 2px 2px 2px 2px;
}

.update {
  border: 1px solid #babaca;
}

#post:nth-of-type(odd) {
  background: #eeeeee;
 }

.post #titulo {
 }

.post #conteudo {
  }

html {overflow-y: scroll;}

// _post.html.erb
	
#avatar {
	float: left;

	.thumbnail {
		width: 50px;
		height: 50px;
	}
}


#full_post {
	margin-left: 10px;
	width: 590px;
	display: inline-block;


  #info {
		margin-bottom: 10px;
	  #name {
		  float: left;
	  }

	  #date-actions {
		  float: right;

		  #date, #actions {
			  float: left;
			
			  i {
				  margin-left: 10px;
				
				  :hover {
					  text-decoration: none;
				  } // :hover
			  } // i
		  } // #date #actions
	  } // #date-actions
  } //#info

	#post {
		clear: both;
		background-color: white;
		
		#title {
			text-align: center;
		}

		#post_content {
			vertical-align: top;
		}
	} // post
} // #full_post

#null {
	text-align: center;
}
