// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0px 100px 100px 100px;
}

.user_info {

	text-align: center;

	.avatar {
		float: left;
	} // avatar

	.info {
		.button_follow {
			text-align: right;
		} // button_follow
	} // info

} // user_info

.posts {
	clear: both;

	h3 {
		text-align: center;
	}
} // posts

#email_policy {
  label, input[type="radio"] {
    float: left;
  }

  input {
    clear: left;
  }

}

#email_submit {
  clear: both;
}

table {
  text-align: center;
}

textarea {
  height: 200px;
  width: 80%;
}

.ad {
	width: 100%;
	text-align: center;
	font-size: 16px;
}

.investor_info {
	clear: both;
	dd {
		text-align: left;
	}
	#bio {
		text-align: justify;
	}
}
