<h1>Seus produtos</h1>

<table class="table">
  <tr>
    <th>Imagem</th>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% Product.where("user_id = ?",current_user.id).each do |product| %>
  <tr>
    <td id="avatar">
        <%= image_tag product.photo.url, :class => "thumbnail" %>
    </td>
    <td><%= product.name %></td>
    <td><%= link_to 'Visualizar Produto', product %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>