<% if user_signed_in? %>
  <nav class="span3">
    <%= render 'layouts/sidebar' %>
  </nav>
<% end %>
<div class="span8">
  <section class="widget">
	  <div class="widget-content">
      <%= yield %>
	  </div>
  </section >
</div>
