<footer id="page_footer">
  <hr />
  <ul>
    <li>
			<%= link_to "mailto:contato@startme.com.br" do %>
				<i class="icon-comment"></i> Fale Conosco
			<% end %>
		</li>
  </ul>
  <p>2013 StartMe. All Rights Reserved. All Wrongs Reversed.</p>
</footer>

