<li class="dropdown">
<%= link_to root_path, :class => "dropdown-toggle", :html => { "data-toggle" => "dropdown"} do %>
	<%= current_user.name %><b class="caret"></b>
	<% end %>
	<ul class="dropdown-menu">
		<li>
			<%= link_to user_path(current_user) do %>
				<i class="icon-wrench"></i>Configurações da Conta
				<% end %>
		</li>
		<li>
			<%= link_to destroy_user_session_path, :method => :delete do %>
				<i class="icon-off"></i>Sair
			<% end %>
		</li>
	</ul> <!-- dropdown-menu -->
</li>
